<div class="app-content" th:fragment="sidebar-app">
    <!-- Sidebar Content -->
    <div class="app-sidebar">
        <div class="app-menu">
            <ul class="list-menu">
                <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/dashboard')} ? 'menu-item active' : 'menu-item'">
                    <a th:href="@{/dashboard}" class="menu-link">
                        <i class="fa fa-lg fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/post')} ? 'menu-item active' : 'menu-item'">
                    <a th:href="@{/post}" class="menu-link">
                        <i class="fa fa-lg fa-newspaper-o"></i> Post
                    </a>
                </li>
                <li 
                    th:class="${#strings.contains(#httpServletRequest.requestURI, '/employee')} ? 'menu-item active' : 'menu-item'"
                    sec:authorize="hasRole('SUPER_ADMIN')"
                >
                    <a th:href="@{/post}" class="menu-link">
                        <i class="fa fa-lg fa-users"></i> Employee
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>