@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.content-wrapper {
    height: 100%;
    position: relative;
}

.header-app {
    background-color: #003049;
    height: 10%;
    display: flex;
    position: absolute;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.header-app h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-app h1 span {
    color: #dc3545;
}

.app-content {
    display: flex;
    flex-direction: row;
    min-height: 90%;
    position: absolute;
    top: 72px;
    width: 100%;
    z-index: 1;
}

.app-sidebar {
    width: 15%;
    min-height: 100%;
    background-color: #dc3545;
    color: #fff;
    position: fixed;
}

.app-sidebar .app-menu {
    margin-top: 2rem;
}

.app-sidebar .app-menu .list-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-sidebar .app-menu .list-menu .menu-item {
    padding: 1rem;
    transition: .24s ease;
}

.menu-item.active {
    background-color: #003049;
    border-left: 1rem solid #f77f00;
}

.menu-item.active a.menu-link {
    margin-left: 0;
}

.menu-item .menu-link {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;
    transition: transform .24s ease;
}

.menu-item .menu-link i {
    font-size: 1.5rem;
    margin-right: 1rem;

}

.menu-item a.menu-link:hover {
    color: #000;
}

.menu-item.active a.menu-link:hover {
    color: #fff;
}

.main-content {
    height: auto;
    width: 85%;
    position: absolute;
    left: 15%;
    margin-top: 5rem;
    padding: 2rem;
}

.tambahClass {
    color: #f77f00;
}