<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <div class="container d-flex justify-content-center align-items-center flex-column" id="_wrapper">

            <p th:text="${param.error} ? 'Username or password incorrect' : ''"></p>
            <p th:text="${param.logout} ? 'You have been logged out' : ''"></p>
            <form th:action="@{/login}" method="post" th:object="${auth}" class="needs-validation" novalidate>
                <h1 class="title">Login Form</h1>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" th:field="*{username}" class="form-control" required/>
                    <div class="invalid-feedback">
                        Please input username
                    </div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" th:field="*{password}" class="form-control" required/><br>
                    <div class="invalid-feedback">
                        Please input password
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        
        <div id="_domSample">
            <input type="text" id="sampleInput">
        </div>
        
        <button id="addClassButton">Add Class</button>
        <button id="removeClass">Add Class</button>

        <script th:src="@{/js/form-validation.js}"></script>
        <script>
            const element = document.getElementById("_domSample");
            const button = document.getElementById("addClassButton");
            const remove = document.getElementById("removeClass");
            const input = document.getElementById("sampleInput");
            
            button.addEventListener("click", ()=> {
                element.classList.add("tambahClass");
            });
            
            remove.addEventListener("click", () => {
               element.classList.remove("tambahClass");
            });
            
            input.addEventListener("keypress", (event)=> {
                console.log(input.value);
            });
        </script>
    </body>
</html>
