<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
               <h1>Data District</h1>
        <a th:href="@{/district/add}">Add</a>
        <table border="1">
            <thead>
                <tr>
                    <td>District Id</td>
                    <td>Kota_Kabupaten</td>
                    <td>District Name</td>
                    <td>Province Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="district : ${districts}">
                    <td th:text="${district.districtId}"></td>
                    <td th:text="${district.kab}"></td>
                    <td th:text="${district.districtName}"></td>
                    <td th:text="${district.provinceId.provinceName}"></td>
                    <td>
                        <a th:href="@{/district/{id} (id = ${district.districtId})}">Edit</a>
                        <a th:href="@{/district/delete/{id} (id = ${district.districtId})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
